@{
    ViewBag.Title = "Login";
}

@section Styles{
    @Styles.Render("/Content/Login.css")
}

<div class="row login-row">
    <div class="flex-grow-1"></div>
    <div class="card col-sm-6">
        <div class="card-body">
            <form method="post">
                <h5>Login</h5>

                <div class="spacing"></div>

                <!-- Enter Username -->
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Enter Username..." name="username" value="@Model.Name" />
                </div>
                <!-- Enter Password -->
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Enter Password..." name="password" />
                </div>

                <div class="spacing-small"></div>

                <!-- Login Button -->
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    @if (Model.HasFailed)
                    {
                        <div class="col-sm-3">
                            <small class="form-text text-danger">Login Failed!</small>
                        </div>
                    }
                    <div class="flex-grow-1"></div>
                </div>

                <div class="spacing"></div>

                <!-- Register Button -->
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-primary" role="button" href="/Account/Register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="flex-grow-1"></div>
</div>