@{
    ViewBag.Title = "Index";
}

@section Scripts{
    @Scripts.Render("/Unity/Build/UnityLoader.js")
    @Scripts.Render("/Scripts/Index.js")
}

@section Styles{
    @Styles.Render("/Content/Index.css")
}

<div class="spacing"></div>

<!-- Game Row -->
<div class="row">
    <div class="col-sm-12">
        <div id="gameContainer"></div>
    </div>
</div>

<div class="spacing"></div>

<!-- Leaderboard Rows -->
<div class="row">
    <!-- Global Leaderboard (left) -->
    <div class="card col-sm-3">
        <div class="card-body">
            <!-- Global Leaderboard Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-sm-center">Global Leaderboard</h5>
                </div>
            </div>

            <div class="spacing"></div>

            <!-- Global Leaderboard Entry List -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group align-content-center">
                        <li class="list-group-item number-one-position">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/Home/UserInfo">#1 - User 1</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">100 Points</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item number-two-position">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/Home/UserInfo">#2 - User 2</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">90 Points</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item number-three-position">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/Home/UserInfo">#3 - User 3</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">70 Points</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/Home/UserInfo">#4 - User 4</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">50 Points</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/Home/UserInfo">#5 - User 5</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">30 Points</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1"></div>

    <!-- Personal Leaderboard (right) -->
    <div class="card col-sm-3">
        <div class="card-body">
            <!-- Personal Leaderboard Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-sm-center">Personal Leaderboard</h5>
                </div>
            </div>

            <div class="spacing"></div>

            <!-- Personal Leaderboard Entry List -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a>#1</a>
                                </div>
                                <div class="col-sm-9">
                                    <strong>(#1)</strong>
                                </div>
                            </div>
                            <div class="row number-one-position">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">100 Points</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a>#2</a>
                                </div>
                                <div class="col-sm-9">
                                    <strong>(#4)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">50 Points</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a>#3</a>
                                </div>
                                <div class="col-sm-9">
                                    <strong>(#5)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">30 Points</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a>#4</a>
                                </div>
                                <div class="col-sm-9">
                                    <strong>(#6)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">10 Points</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a>#5</a>
                                </div>
                                <div class="col-sm-9">
                                    <strong>(#7)</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-sm-right">5 Points</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>