@{
    ViewBag.Title = "Login";
}

@section Styles{
    @Styles.Render("/Content/Login.css")
    }

<div class="row login-row">
    <div class="flex-grow-1"></div>
    <div class="card col-sm-6">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter Username" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input class="form-control" type="password" placeholder="Enter Password" />
                </div>
            </div>

            <div class="spacing"></div>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="button">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-grow-1"></div>
</div>