@{
    ViewBag.Title = "Login";
}

@section Styles{
    @Styles.Render("/Content/Login.css")
    }

<div class="row login-row">
    <div class="flex-grow-1"></div>
    <div class="card col-sm-6">
        <div class="card-body">
            <form>
                <h5>Login</h5>

                <div class="spacing"></div>

                <!-- Enter Username -->
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Enter Username..." />
                </div>
                <!-- Enter Password -->
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Enter Password..." />
                </div>

                <div class="spacing"></div>

                <!-- Buttons -->
                <div class="row">
                    <div class="flex-grow-1"></div>

                    <!-- Login Button -->
                    <div class="col-sm-4">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    <div class="flex-grow-1"></div>

                    <!-- Register Button -->
                    <div class="col-sm-4">
                        <a class="btn btn-primary" role="button" href="/Home/Register">Register</a>
                    </div>

                    <div class="flex-grow-1"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="flex-grow-1"></div>
</div>