
@{
    ViewBag.Title = "Register";
}

@section Styles{
    @Styles.Render("/Content/Register.css")
    }

<div class="row login-row">
    <div class="flex-grow-1"></div>
    <div class="card col-sm-6">
        <div class="card-body">
            <form>
                <h5>Register a new Account</h5>

                <div class="spacing"></div>

                <!-- Username Input -->
                <div class="form-group">
                    <input type="text" class="form-control" id="usernameInput" placeholder="Enter Your Username Here..." />
                    <small id="usernameTaken" class="form-text text-danger" hidden>This Username is Already Taken!</small>
                    <small id="usernameAvailable" class="form-text text-success" hidden>This Username is Available!</small>
                </div>
                <!-- Password Input -->
                <div class="form-group">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Enter Your Password Here..." />
                </div>

                <div class="spacing"></div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary" disabled>Register</button>
            </form>
        </div>
    </div>
    <div class="flex-grow-1"></div>
</div>