@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <ul class="list-group align-content-center">
                    <li class="list-group-item">
                        @foreach (int enemyCountPerDifficulty in Model.EnemyCountsPerDifficulty)
                        {

                        }
                        @foreach (int enemyCountPerUserID in Model.EnemyCountsPerUser)
                        {

                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>