body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Overrides the canvas element to change the look of the UnityLoaders canvas element */
canvas {
    border-radius: 5px;
}

p {
    margin-bottom: 0 !important;
}

#gameContainer {
    background: none !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Overrides the bootstrap card, list-group-item, form-control and btn classes to allow for no border radius */
.btn, .form-control, .card, .list-group-item {
    border-radius: 0px !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.hidden {
    display:none;
}

/* Adds a top margin to the first rows for login screens */
.login-row {
    margin-top: 75px;
}

/* Overrides the nav-link class hover function to receive an underline upon hovering */
.nav-link:hover {
    text-decoration: underline;
}

.number-one-position {
    color: #D4AF37;
}

.number-two-position {
    color: #C0C0C0;
}

.number-three-position {
    color: #CD7F32;
}

.spacing {
    margin-bottom: 20px;
}

.spacing-small {
    margin-bottom: 10px;
}

.title {
    font-size: 1.75rem;
    color: black;
}

    .title:hover {
        color: black !important;
    }